body {
    font-family: Helvetica, Gotham, Arial, sans-serif;
    background: url("../images/hobart.jpg") center center no-repeat fixed;
    background-size: cover;
    text-align: center;
}
h1 {
    text-indent: -9999px;
    background: url(../images/elderflower-logo.png) no-repeat;
    height: 130px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-indent: -9999px;
    background: url(../images/custom-sign.png) no-repeat;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#content {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 3px double #31373f;
    padding: 30px 40px 40px 40px;
    background-color: #fff;
}
#cost {
    background-color: #f84753;
    padding: 10px;
    width: 30px;
    color: #fff;
    position: relative;
    left: 500px;
    top: 17px;
}
